# In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

In [53]:
from pydataset import data
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

df_iris = data('iris')
df_iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

### print the first 3 rows

In [5]:
print(df_iris.head(3))

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

### print the number of rows and columns

In [8]:
r, c = df_iris.shape
print(f'Rows = {r}, Columns = {c}')

Rows = 150, Columns = 5

### print the column names

In [11]:
print(df_iris.columns)

Index(['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width',
       'Species'],
      dtype='object')

### print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [54]:
print(df_iris.describe().T)

              count      mean       std  min  25%   50%  75%  max
Sepal.Length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
Sepal.Width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
Petal.Length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
Petal.Width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### No rescaling needed as all numerical values appear to be using the same unit of measurement

## Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

In [16]:
df_excel = pd.read_excel('Spreadsheets_Exercises_Solutions.xlsx')
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc,Unnamed: 30
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,False,True,3,2021-08-12,0.0,False,2 Year,No Phone Service,DSL,NaN
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,False,True,3,2021-08-12,0.0,False,2 Year,One Line,No Internet Service,NaN
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,True,False,2,2021-08-12,0.0,False,2 Year,Two or More Lines,DSL,NaN
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,False,True,3,2021-08-12,0.0,False,1 Year,One Line,No Internet Service,NaN
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,True,False,2,2021-08-12,0.0,False,2 Year,One Line,No Internet Service,NaN

In [24]:
df_excel = df_excel.iloc[: , :-1]
df_excel.head()

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,False,False,True,3,2021-08-12,0.0,False,2 Year,No Phone Service,DSL
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,False,False,True,3,2021-08-12,0.0,False,2 Year,One Line,No Internet Service
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,False,True,False,2,2021-08-12,0.0,False,2 Year,Two or More Lines,DSL
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,False,False,True,3,2021-08-12,0.0,False,1 Year,One Line,No Internet Service
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,False,True,False,2,2021-08-12,0.0,False,2 Year,One Line,No Internet Service

### assign the first 100 rows to a new dataframe, df_excel_sample

In [26]:
df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
0,1371-DWPAZ,Female,0,Yes,Yes,0,1,2,Credit card (automatic),56.05,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,No Phone Service,DSL
1,2520-SGTTA,Female,0,Yes,Yes,1,0,2,Mailed check,20.00,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,No Internet Service
2,2775-SEFEE,Male,0,No,Yes,2,1,2,Bank transfer (automatic),61.90,...,False,True,False,2,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,DSL
3,2923-ARZLG,Male,0,Yes,Yes,1,0,1,Mailed check,19.70,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,1 Year,One Line,No Internet Service
4,3115-CZMZD,Male,0,No,Yes,1,0,2,Mailed check,20.25,...,False,True,False,2,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,No Internet Service
5,3213-VVOLG,Male,0,Yes,Yes,2,0,2,Mailed check,25.35,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,No Internet Service
6,4075-WKNIU,Female,0,Yes,Yes,2,1,2,Mailed check,73.35,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,DSL
7,4367-NUYAO,Male,0,Yes,Yes,2,0,2,Mailed check,25.75,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,Two or More Lines,No Internet Service
8,4472-LVYGI,Female,0,Yes,Yes,0,1,2,Bank transfer (automatic),52.55,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,No Phone Service,DSL
9,5709-LVOEQ,Female,0,Yes,Yes,1,1,2,Mailed check,80.85,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,DSL
10,7644-OMVMY,Male,0,Yes,Yes,1,0,2,Mailed check,19.85,...,False,False,True,3,2021-08-12 00:00:00.000,0.00,False,2 Year,One Line,No Internet Service
11,0002-ORFBO,Female,0,Yes,Yes,1,1,1,Mailed check,65.60,...,False,False,True,3,2020-11-09 21:43:43.171,65.60,True,1 Year,One Line,DSL
12,0003-MKNFE,Male,0,No,No,2,1,0,Mailed check,59.90,...,False,False,False,0,2020-11-09 13:46:58.698,59.90,True,Month-to-Month,Two or More Lines,DSL
13,0004-TLHLJ,Male,0,No,No,1,2,0,Electronic check,73.90,...,False,False,False,0,2021-04-18 09:42:13.153,73.90,True,Month-to-Month,One Line,Fiber Optic
14,0011-IGKFF,Male,1,Yes,No,1,2,0,Electronic check,98.00,...,True,False,False,1,2020-07-23 19:16:50.204,98.00,True,Month-to-Month,One Line,Fiber Optic
15,0013-EXCHZ,Female,1,Yes,No,1,2,0,Mailed check,83.90,...,True,False,False,1,2021-05-07 01:23:48.844,83.90,True,Month-to-Month,One Line,Fiber Optic
16,0013-MHZWF,Female,0,No,Yes,1,1,0,Credit card (automatic),69.40,...,False,True,False,2,2020-12-04 13:04:14.179,69.40,True,Month-to-Month,One Line,DSL
17,0013-SMEOE,Female,1,Yes,No,1,2,2,Bank transfer (automatic),109.70,...,True,False,False,1,2015-08-12 09:04:15.971,109.70,True,2 Year,One Line,Fiber Optic
18,0014-BMAQU,Male,0,Yes,No,2,2,2,Credit card (automatic),84.65,...,True,False,False,1,2016-04-27 15:13:30.159,84.65,True,2 Year,Two or More Lines,Fiber Optic
19,0015-UOCOJ,Female,1,No,No,1,1,0,Electronic check,48.20,...,False,False,False,0,2021-01-09 05:19:17.676,48.20,True,Month-to-Month,One Line,DSL
20,0016-QLJIS,Female,0,Yes,Yes,2,1,2,Mailed check,90.45,...,False,False,True,3,2016-02-16 11:14:05.771,90.45,True,2 Year,Two or More Lines,DSL
21,0017-DINOC,Male,0,No,No,0,1,2,Credit card (automatic),45.20,...,False,False,False,0,2017-01-29 05:01:43.540,45.20,True,2 Year,No Phone Service,DSL
22,0017-IUDMW,Female,0,Yes,Yes,2,2,2,Credit card (automatic),116.80,...,False,False,True,3,2015-08-01 17:18:45.000,116.80,True,2 Year,Two or More Lines,Fiber Optic
23,0018-NYROU,Female,0,Yes,No,1,2,0,Electronic check,68.95,...,True,False,False,1,2021-03-09 22:32:06.613,68.95,True,Month-to-Month,One Line,Fiber Optic
24,0019-EFAEP,Female,0,No,No,2,2,2,Bank transfer (automatic),101.30,...,False,False,False,0,2015-08-23 17:07:27.779,101.30,True,2 Year,Two or More Lines,Fiber Optic
25,0019-GFNTW,Female,0,No,No,0,1,2,Bank transfer (automatic),45.05,...,False,False,False,0,2016-11-17 11:34:57.669,45.05,True,2 Year,No Phone Service,DSL
26,0020-INWCK,Female,0,Yes,Yes,2,2,2,Credit card (automatic),95.75,...,False,False,True,3,2015-08-28 04:01:52.794,95.75,True,2 Year,Two or More Lines,Fiber Optic
27,0020-JDNXP,Female,0,Yes,Yes,0,1,1,Mailed check,61.25,...,False,False,True,3,2018-11-26 04:18:36.735,61.25,True,1 Year,No Phone Service,DSL
28,0021-IKXGC,Female,1,No,No,2,2,0,Electronic check,72.10,...,False,False,False,0,2021-07-12 14:00:00.000,72.10,True,Month-to-Month,Two or More Lines,Fiber Optic
29,0022-TCJCI,Male,1,No,No,1,1,1,Credit card (automatic),62.70,...,False,False,False,0,2017-11-26 19:16:56.268,62.70,True,1 Year,One Line,DSL
30,0023-HGHWL,Male,1,No,No,0,1,0,Electronic check,25.10,...,False,False,False,0,2021-07-12 14:00:00.000,25.10,True,Month-to-Month,No Phone Service,DSL
31,0023-UYUPN,Female,1,Yes,No,2,0,1,Electronic check,25.20,...,True,False,False,1,2017-04-18 06:46:11.429,25.20,True,1 Year,Two or More Lines,No Internet Service
32,0023-XUOPT,Female,0,Yes,No,2,2,0,Electronic check,94.10,...,True,False,False,1,2020-07-15 01:44:03.571,94.10,True,Month-to-Month,Two or More Lines,Fiber Optic
33,0027-KWYKW,Female,0,Yes,Yes,2,2,0,Electronic check,83.75,...,False,False,True,3,2019-10-10 03:03:45.672,83.75,True,Month-to-Month,Two or More Lines,Fiber Optic
34,0030-FNXPP,Female,0,No,No,1,0,0,Mailed check,19.85,...,False,False,False,0,2021-05-16 08:25:23.426,19.85,True,Month-to-Month,One Line,No Internet Service
35,0031-PVLZI,Female,0,Yes,Yes,1,0,0,Mailed check,20.35,...,False,False,True,3,2021-04-19 21:09:17.248,20.35,True,Month-to-Month,One Line,No Internet Service
36,0032-PGELS,Female,0,Yes,Yes,0,1,0,Bank transfer (automatic),30.50,...,False,False,True,3,2021-07-12 14:00:00.000,30.50,True,Month-to-Month,No Phone Service,DSL
37,0036-IHMOT,Female,0,Yes,Yes,1,2,1,Bank transfer (automatic),103.70,...,False,False,True,3,2017-01-25 19:05:54.098,103.70,True,1 Year,One Line,Fiber Optic
38,0040-HALCW,Male,0,Yes,Yes,1,0,2,Credit card (automatic),20.40,...,False,False,True,3,2017-02-27 21:37:38.824,20.40,True,2 Year,One Line,No Internet Service
39,0042-JVWOJ,Male,0,No,No,1,0,1,Bank transfer (automatic),19.60,...,False,False,False,0,2019-08-10 17:59:41.633,19.60,True,1 Year,One Line,No Internet Service
40,0042-RLHYP,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),19.70,...,False,False,True,3,2015-09-16 04:42:01.827,19.70,True,2 Year,One Line,No Internet Service
41,0048-LUMLS,Male,0,Yes,Yes,1,2,1,Credit card (automatic),91.20,...,False,False,True,3,2018-08-24 21:21:22.895,91.20,True,1 Year,One Line,Fiber Optic
42,0048-PIHNL,Female,0,Yes,No,1,0,1,Bank transfer (automatic),20.45,...,True,False,False,1,2017-12-11 00:44:00.587,20.45,True,1 Year,One Line,No Internet Service
43,0052-DCKON,Male,0,Yes,No,2,2,1,Bank transfer (automatic),115.80,...,True,False,False,1,2015-11-25 20:54:21.140,115.80,True,1 Year,Two or More Lines,Fiber Optic
44,0052-YNYOT,Female,0,No,No,1,0,1,Electronic check,20.55,...,False,False,False,0,2016-03-02 14:14:53.431,20.55,True,1 Year,One Line,No Internet Service
45,0056-EPFBG,Male,0,Yes,Yes,0,1,2,Credit card (automatic),39.40,...,False,False,True,3,2019-11-13 19:03:21.015,39.40,True,2 Year,No Phone Service,DSL
46,0057-QBUQH,Female,0,No,Yes,2,0,2,Electronic check,25.10,...,False,True,False,2,2018-01-23 04:06:55.936,25.10,True,2 Year,Two or More Lines,No Internet Service
47,0058-EVZWM,Female,0,Yes,No,2,2,0,Bank transfer (automatic),89.80,...,True,False,False,1,2017-01-05 02:32:20.312,89.80,True,Month-to-Month,Two or More Lines,Fiber Optic
48,0060-FUALY,Female,0,Yes,No,2,2,0,Electronic check,94.75,...,True,False,False,1,2016-09-10 00:59:12.507,94.75,True,Month-to-Month,Two or More Lines,Fiber Optic
49,0064-SUDOG,Female,0,Yes,Yes,1,0,2,Bank transfer (automatic),20.30,...,False,False,True,3,2020-09-09 14:50:50.246,20.30,True,2 Year,One Line,No Internet Service
50,0064-YIJGF,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),75.75,...,False,False,True,3,2019-06-29 10:17:49.307,75.75,True,Month-to-Month,Two or More Lines,Fiber Optic
51,0067-DKWBL,Male,1,No,No,1,1,0,Electronic check,49.25,...,False,False,False,0,2021-06-16 17:41:07.005,49.25,True,Month-to-Month,One Line,DSL
52,0068-FIGTF,Female,0,No,No,1,1,1,Mailed check,78.20,...,False,False,False,0,2019-05-26 08:55:19.182,78.20,True,1 Year,One Line,DSL
53,0071-NDAFP,Male,0,Yes,Yes,2,0,2,Credit card (automatic),25.50,...,False,False,True,3,2019-07-21 19:31:45.882,25.50,True,2 Year,Two or More Lines,No Internet Service
54,0074-HDKDG,Male,0,Yes,Yes,1,1,1,Bank transfer (automatic),61.60,...,False,False,True,3,2019-06-08 12:36:14.026,61.60,True,1 Year,One Line,DSL
55,0076-LVEPS,Male,0,No,Yes,0,1,0,Mailed check,45.00,...,False,True,False,2,2019-04-25 04:42:00.000,45.00,True,Month-to-Month,No Phone Service,DSL
56,0078-XZMHT,Male,0,Yes,No,2,1,2,Bank transfer (automatic),85.15,...,True,False,False,1,2015-06-08 18:32:45.942,85.15,True,2 Year,Two or More Lines,DSL
57,0080-EMYVY,Female,0,No,No,1,1,1,Credit card (automatic),51.45,...,False,False,False,0,2020-06-07 16:52:35.685,51.45,True,1 Year,One Line,DSL
58,0080-OROZO,Female,0,No,No,1,2,1,Electronic check,99.25,...,False,False,False,0,2018-08-25 13:33:42.166,99.25,True,1 Year,One Line,Fiber Optic
59,0082-LDZUE,Male,0,No,No,1,1,0,Mailed check,44.30,...,False,False,False,0,2021-07-12 14:00:00.000,44.30,True,Month-to-Month,One Line,DSL
60,0082-OQIQY,Male,0,No,No,1,2,0,Electronic check,94.20,...,False,False,False,0,2019-04-23 00:29:02.675,94.20,True,Month-to-Month,One Line,Fiber Optic
61,0083-PIVIK,Male,0,No,No,2,1,1,Electronic check,81.25,...,False,False,False,0,2015-11-27 17:42:16.615,81.25,True,1 Year,Two or More Lines,DSL
62,0089-IIQKO,Female,0,Yes,Yes,2,2,0,Credit card (automatic),99.95,...,False,False,True,3,2018-06-22 12:13:19.600,99.95,True,Month-to-Month,Two or More Lines,Fiber Optic
63,0093-EXYQL,Female,1,No,No,1,2,0,Electronic check,91.55,...,False,False,False,0,2018-04-09 11:30:14.746,91.55,True,Month-to-Month,One Line,Fiber Optic
64,0093-XWZFY,Male,0,No,No,2,2,0,Credit card (automatic),104.50,...,False,False,False,0,2018-05-24 23:59:42.775,104.50,True,Month-to-Month,Two or More Lines,Fiber Optic
65,0094-OIFMO,Female,1,No,No,1,2,0,Electronic check,95.00,...,False,False,False,0,2020-08-18 07:22:44.211,95.00,True,Month-to-Month,One Line,Fiber Optic
66,0096-BXERS,Female,0,Yes,No,2,1,0,Electronic check,50.35,...,True,False,False,1,2021-02-02 23:29:36.763,50.35,True,Month-to-Month,Two or More Lines,DSL
67,0096-FCPUF,Male,0,No,No,2,1,0,Mailed check,64.50,...,False,False,False,0,2019-03-05 10:50:41.860,64.50,True,Month-to-Month,Two or More Lines,DSL
68,0098-BOWSO,Male,0,No,No,1,0,0,Electronic check,19.40,...,False,False,False,0,2019-05-04 08:13:36.495,19.40,True,Month-to-Month,One Line,No Internet Service
69,0100-DUVFC,Male,1,Yes,No,2,2,1,Electronic check,104.80,...,True,False,False,1,2015-10-21 16:25:14.885,104.80,True,1 Year,Two or More Lines,Fiber Optic
70,0103-CSITQ,Female,0,Yes,No,2,2,1,Bank transfer (automatic),109.40,...,True,False,False,1,2016-11-07 13:13:49.250,109.40,True,1 Year,Two or More Lines,Fiber Optic
71,0104-PPXDV,Male,0,Yes,No,1,1,1,Credit card (automatic),50.30,...,True,False,False,1,2016-11-05 07:49:37.336,50.30,True,1 Year,One Line,DSL
72,0106-GHRQR,Male,0,No,No,2,1,0,Bank transfer (automatic),71.40,...,False,False,False,0,2020-03-13 15:22:51.429,71.40,True,Month-to-Month,Two or More Lines,DSL
73,0106-UGRDO,Female,0,Yes,No,2,2,2,Electronic check,116.00,...,True,False,False,1,2015-09-27 08:28:42.414,116.00,True,2 Year,Two or More Lines,Fiber Optic
74,0107-WESLM,Male,0,No,No,1,0,0,Electronic check,19.85,...,False,False,False,0,2021-07-12 14:00:00.000,19.85,True,Month-to-Month,One Line,No Internet Service
75,0107-YHINA,Male,0,No,Yes,2,2,0,Electronic check,99.75,...,False,True,False,2,2021-07-12 14:00:00.000,99.75,True,Month-to-Month,Two or More Lines,Fiber Optic
76,0111-KLBQG,Male,1,Yes,Yes,1,2,0,Mailed check,93.95,...,False,False,True,3,2019-01-28 14:16:28.611,93.95,True,Month-to-Month,One Line,Fiber Optic
77,0112-QAWRZ,Male,0,Yes,Yes,2,2,0,Bank transfer (automatic),90.80,...,False,False,True,3,2020-04-15 21:13:12.952,90.80,True,Month-to-Month,Two or More Lines,Fiber Optic
78,0112-QWPNC,Male,0,Yes,No,2,1,1,Electronic check,84.35,...,True,False,False,1,2017-08-09 04:41:45.276,84.35,True,1 Year,Two or More Lines,DSL
79,0114-IGABW,Female,0,Yes,No,0,1,2,Bank transfer (automatic),58.25,...,True,False,False,1,2015-09-08 02:47:53.820,58.25,True,2 Year,No Phone Service,DSL
80,0114-PEGZZ,Female,0,No,No,2,2,0,Electronic check,107.55,...,False,False,False,0,2018-10-16 00:01:13.640,107.55,True,Month-to-Month,Two or More Lines,Fiber Optic
81,0114-RSRRW,Female,0,Yes,No,1,0,0,Bank transfer (automatic),19.95,...,True,False,False,1,2020-10-29 17:56:59.549,19.95,True,Month-to-Month,One Line,No Internet Service
82,0115-TFERT,Male,0,Yes,No,2,2,0,Electronic check,111.20,...,True,False,False,1,2019-11-17 04:49:18.993,111.20,True,Month-to-Month,Two or More Lines,Fiber Optic
83,0117-LFRMW,Male,0,Yes,Yes,0,1,0,Bank transfer (automatic),40.20,...,False,False,True,3,2018-08-11 18:56:42.985,40.20,True,Month-to-Month,No Phone Service,DSL
84,0118-JPNOY,Female,1,No,No,1,2,0,Credit card (automatic),85.80,...,False,False,False,0,2019-06-26 08:04:41.119,85.80,True,Month-to-Month,One Line,Fiber Optic
85,0121-SNYRK,Male,0,No,No,0,1,1,Mailed check,35.40,...,False,False,False,0,2017-07-01 07:06:46.780,35.40,True,1 Year,No Phone Service,DSL
86,0122-OAHPZ,Female,0,No,No,2,2,0,Electronic check,73.85,...,False,False,False,0,2021-01-13 10:20:38.186,73.85,True,Month-to-Month,Two or More Lines,Fiber Optic
87,0123-CRBRT,Female,0,Yes,Yes,2,1,2,Mailed check,88.10,...,False,False,True,3,2016-05-21 21:08:10.352,88.10,True,2 Year,Two or More Lines,DSL
88,0125-LZQXK,Male,0,No,No,1,2,0,Electronic check,101.35,...,False,False,False,0,2020-05-02 15:16:00.829,101.35,True,Month-to-Month,One Line,Fiber Optic
89,0128-MKWSG,Female,0,No,Yes,0,1,0,Mailed check,45.80,...,False,True,False,2,2019-07-12 06:07:20.175,45.80,True,Month-to-Month,No Phone Service,DSL
90,0129-KPTWJ,Male,0,Yes,No,1,2,0,Electronic check,94.65,...,True,False,False,1,2015-09-04 16:12:59.715,94.65,True,Month-to-Month,One Line,Fiber Optic
91,0129-QMPDR,Male,0,Yes,Yes,1,0,1,Bank transfer (automatic),20.50,...,False,False,True,3,2018-02-05 11:46:49.756,20.50,True,1 Year,One Line,No Internet Service
92,0130-SXOUN,Male,0,No,No,2,2,0,Credit card (automatic),89.40,...,False,False,False,0,2016-01-17 11:20:08.054,89.40,True,Month-to-Month,Two or More Lines,Fiber Optic
93,0133-BMFZO,Female,0,No,No,1,2,0,Electronic check,86.25,...,False,False,False,0,2021-06-08 22:33:23.478,86.25,True,Month-to-Month,One Line,Fiber Optic
94,0134-XWXCE,Female,1,No,No,1,1,1,Bank transfer (automatic),74.85,...,False,False,False,0,2017-12-22 23:14:04.088,74.85,True,1 Year,One Line,DSL
95,0135-NMXAP,Female,0,No,No,2,2,0,Bank transfer (automatic),89.75,...,False,False,False,0,2020-08-20 08:05:20.891,89.75,True,Month-to-Month,Two or More Lines,Fiber Optic
96,0136-IFMYD,Male,1,Yes,No,2,2,2,Electronic check,109.95,...,True,False,False,1,2015-10-31 01:18:05.402,109.95,True,2 Year,Two or More Lines,Fiber Optic
97,0137-OCGAB,Female,0,No,No,2,2,0,Mailed check,80.20,...,False,False,False,0,2021-07-12 14:00:00.000,80.20,True,Month-to-Month,Two or More Lines,Fiber Optic
98,0137-UDEUO,Female,0,No,No,1,0,0,Mailed check,19.85,...,False,False,False,0,2021-05-06 07:32:29.622,19.85,True,Month-to-Month,One Line,No Internet Service
99,0139-IVFJG,Female,0,Yes,No,1,2,0,Electronic check,90.35,...,True,False,False,1,2021-06-08 20:49:08.533,90.35,True,Month-to-Month,One Line,Fiber Optic

### print the number of rows of your originial dataframe

In [27]:
r, c = df_excel.shape
print(f'Rows = {r}')

Rows = 7043

### print the first 5 column names

In [33]:
print(df_excel.columns.values[:5])

['customer_id' 'gender' 'is_senior_citizen' 'partner' 'dependents']

### print the column names that have a data type of object

In [37]:
print(df_excel.select_dtypes(object).columns.values)

['customer_id' 'gender' 'partner' 'dependents' 'payment_type' 'churn'
 'contract_type_desc' 'phone_type_desc' 'internet_type_desc']

### compute the range for each of the numeric variables

In [41]:
monthly_charges_range = (df_excel.monthly_charges.max(), df_excel.monthly_charges.min())
avg_monthly_charges_range = (df_excel.average_monthly_charges.max(), df_excel.average_monthly_charges.min())
print(f'Ranges (max, min) for Monthly Charges = {monthly_charges_range} and Average Monthly Charges = {avg_monthly_charges_range}')

Ranges (max, min) for Monthly Charges = (118.75, 18.25) and Average Monthly Charges = (118.75, 0.0)

SyntaxError: positional argument follows keyword argument (<ipython-input-56-96b003387073>, line 1)

## Read the data from this google sheet into a dataframe, df_google

In [43]:
import pandas as pd

sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### print the first 3 rows

In [44]:
print(df_google.head(3))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S

### print the number of rows and columns

In [45]:
r, c = df_google.shape
print(f'Rows = {r}, Columns = {c}')

Rows = 891, Columns = 12

### print the column names

In [46]:
print(df_google.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']

### print the data type of each column

In [49]:
print(df_google.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### print the summary statistics for each fo the numeric variables

In [57]:
df_google.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292

### print the unique values for each of your categorical variables

In [51]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

In [58]:
for column in df_google.select_dtypes(object).columns:
    print(f"Values in the {column} column:")
    print(df_google[column].value_counts())
    print("--------------")
    print("/")

Values in the Name column:
Stead, Mr. William Thomas      1
Moubarek, Master. Gerios       1
Dimic, Mr. Jovan               1
Givard, Mr. Hans Kristensen    1
Hassan, Mr. Houssein G N       1
                              ..
Lang, Mr. Fang                 1
Quick, Miss. Phyllis May       1
Kilgannon, Mr. Thomas J        1
Stewart, Mr. Albert A          1
Saalfeld, Mr. Adolphe          1
Name: Name, Length: 891, dtype: int64
--------------
/
Values in the Sex column:
male      577
female    314
Name: Sex, dtype: int64
--------------
/
Values in the Ticket column:
1601                 7
CA. 2343             7
347082               7
347088               6
CA 2144              6
                    ..
19988                1
371060               1
2624                 1
A/5 2817             1
STON/O 2. 3101280    1
Name: Ticket, Length: 681, dtype: int64
--------------
/
Values in the Cabin column:
C23 C25 C27        4
B96 B98            4
G6                 4
F33                3
F2                 3
D                  3
C22 C26            3
E101               3
B5                 2
B77                2
E121               2
B57 B59 B63 B66    2
B18                2
E44                2
C65                2
B22                2
B58 B60            2
C126               2
C2                 2
C124               2
B28                2
D35                2
D26                2
C83                2
E8                 2
C68                2
C125               2
D17                2
C52                2
C93                2
F4                 2
F G73              2
B51 B53 B55        2
B20                2
C123               2
D36                2
B49                2
E25                2
E67                2
C78                2
E24                2
D20                2
B35                2
E33                2
C92                2
D33                2
B102               1
C128               1
B4                 1
B39                1
B80                1
B37                1
E50                1
D9                 1
C104               1
C86                1
A32                1
C148               1
D19                1
D48                1
E38                1
B50                1
C82                1
B42                1
C32                1
C111               1
F38                1
E34                1
E40                1
D46                1
F G63              1
E31                1
D6                 1
C54                1
C49                1
E17                1
B41                1
C101               1
D49                1
A34                1
B19                1
E46                1
B79                1
B82 B84            1
D37                1
A23                1
C99                1
C118               1
C30                1
D56                1
B3                 1
C90                1
D10 D12            1
D11                1
A5                 1
C85                1
B69                1
D7                 1
C7                 1
C106               1
A14                1
E63                1
F E69              1
B86                1
D45                1
C47                1
E10                1
A16                1
B71                1
A7                 1
A19                1
E68                1
B30                1
A24                1
C103               1
B78                1
A26                1
D47                1
T                  1
C46                1
A10                1
C70                1
B73                1
D50                1
E49                1
E77                1
E58                1
E12                1
B101               1
D28                1
D21                1
C50                1
A31                1
C110               1
A6                 1
E36                1
D15                1
C87                1
A36                1
B38                1
A20                1
C91                1
D30                1
B94                1
C62 C64            1
C95                1
C45                1
Name: Cabin, dtype: int64
--------------
/
Values in the Embarked column:
S    644
C    168
Q     77
Name: Embarked, dtype: int64
--------------
/

In [59]:
# .copy() method used to copy instead of point to something

## Make a new python module, acquire.py to hold the following data aquisition functions:


### 1. Make a function named get_titanic_data that returns the titanic data from the codeup data science database as a pandas data frame. Obtain your data from the Codeup Data Science Database.

### 2. Make a function named get_iris_data that returns the data from the iris_db on the codeup data science database as a pandas data frame. The returned data frame should include the actual name of the species in addition to the species_ids. Obtain your data from the Codeup Data Science Database.

### 3. Once you've got your get_titanic_data and get_iris_data functions written, now it's time to add caching to them. To do this, edit the beginning of the function to check for a local filename like titanic.csv or iris.csv. If they exist, use the .csv file. If the file doesn't exist, then produce the SQL and pandas necessary to create a dataframe, then write the dataframe to a .csv file with the appropriate name.